.eb-eb-adminlte-hidden{display:none}

.tooltip > .tooltip-inner {
    color: #444;
    background-color:#d2d6de;
    min-width:260px;
    text-align: left;
    padding: 10px;
    border:solid 1px gray
}

.content-header.filter-bar { 
    border-top: 1px outset silver;
    border-bottom: 1px inset silver;
    background-color: white;
    padding-top: 10px;    
    margin-top: 10px;
    padding-bottom:10px;
    padding-left:5px;
    min-height: 40px
}

.eb-smallbox {
    min-height: 100px
}

.btn.btn-outline.btn-default.btn-xs.btn-addwidget {
  color:rgb(103, 106, 108);
  border-color:#bababa;
}

.content-wrapper {
  margin-left:inherit !important
}

.content-header.filter-bar {
    padding-top: 6px;
    padding-bottom: 72px;
}

.eb-page-widget .box-body {
  background-color:white; 
}

.eb-page-row .eb-page-widget {
  padding-bottom:26px
}

.eb-table .eb-datasetpaging {
    padding-top: 14px;
    position: relative;
    border-radius: 3px;
    border-top: 1px solid #d2d6de; 
}

.main-footer {
    margin-left:inherit !important
}